:root {
  --colour-primary: #8c4242;
  --colour-secondary: #bf6969;
  --colour-tertiary: #d9a282;
  --colour-background: #e4ddd3;
  --colour-beige: #d9c7b8;
  --colour-brown: #9c766d;
}

body {
  font-family: "Montserrat", sans-serif !important;
  /* background-image: url("./images/gondola.jpeg");
  background-size: 310%;
  background-position: top; */
}

main {
  min-height: calc(100vh - 474px);
  margin-top: auto;
}
.container {
  margin: 0;
  padding: 0;
  max-width: none;
}
.btn-light {
  background-color: var(--colour-primary) !important;
  border-color: var(--colour-brown) !important;
  color: white !important;
}
.btn-light:hover,
.btn-light:active,
.btn-light:visited {
  filter: blur(0.1px) brightness(90%) !important;
  border-color: var(--colour-brown) !important;
}
/* .navbar-dark,
.navbar-toggler {
  color: black !important;
  border-color: white !important;
} */
/* .navbar-dark .navbar-nav .nav-link {
  color: black !important;
} */
main .bg-dark {
  background-color: transparent !important;
}
@media screen and (max-width: 992px) {
  .navbar-dark,
  .navbar-toggler {
    color: black !important;
    border-color: white !important;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: black !important;
  }
}
