:root {
  --colour-primary: #8c4242;
  --colour-secondary: #bf6969;
  --colour-tertiary: #d9a282;
  --colour-background: #e4ddd3;
  --colour-beige: #d9c7b8;
  --colour-brown: #9c766d;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/gondola.jpeg");
  background-size: 310%;
  background-position: top;
}

main {
  min-height: calc(100vh - 474px);
  margin-top: auto;
}
.container {
  margin: 0;
  padding: 0;
  max-width: none;
}
