.headline {
  color: var(--colour-primary);
  color: white;
  /* z-index: 100; */
}
.title {
  font-family: "Dancing Script", cursive;
  font-size: 72px;
}
.secondTitle {
  text-transform: uppercase;
  font-size: 30px;
}
.btn {
  text-transform: uppercase;
  background-color: var(--colour-primary);
}
