.headline {
  color: var(--colour-primary);
  color: white;
  text-align: center;
  /* z-index: 100; */
  margin-bottom: 20px;
}
.title {
  font-family: "Dancing Script", cursive;
  font-size: 72px;
  text-shadow: 2px 2px var(--colour-primary);
}
.secondTitle {
  text-transform: uppercase;
  font-size: 30px;
}
.btn {
  text-transform: uppercase;
  background-color: var(--colour-primary);
}
