.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.homepage {
  background-image: url("../../images/gondola.jpeg");
}
.browsepage {
  background-image: url("../../images/canoe.jpeg");
}
.propertiespage {
}
.adminpage {
  background-image: url("../../images/tiles.jpeg");
}
.contactpage {
  background-image: url("../../images/sign.jpeg");
}
