.home {
  margin: 20%;
}
.imageContainer {
  /* padding: 0 0 50% 0; */
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
}
.image {
  background-size: cover;
  height: 400px;
}
.imageContainer > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.imageContainer > a:hover {
  color: white;
  font-size: 30px;
}
.village {
  background-image: url("../../images/town.jpeg");
}
.mountain {
  background-image: url("../../images/view.jpeg");
}
.beach {
  background-image: url("../../images/beach.jpeg");
}
.tram {
  background-image: url("../../images/tram-2.jpeg");
}
.hordaland {
  background-image: url("../../images/apartment-building.jpeg");
  background-size: 300%;
  padding: 20%;
}
.hordalandText {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  color: black;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.hordalandText:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}
.iconSection {
  background: white;
  padding-top: 50px;
}
.iconContainer {
  margin: 50px 0;
}
@media only screen and (min-width: 400px) {
  .hordaland {
    padding: 20%;
    background-size: 150%;
  }
}
@media only screen and (min-width: 600px) {
  .hordalandText {
    border-radius: 50px;
  }
}
/* .row {
  margin: 0 !important;
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
} */
