.home {
  margin: 20%;
}
.imageContainer {
  /* padding: 0 0 50% 0; */
  position: relative;
  text-align: center;
  color: white;
  padding: 0;
}
.image {
  background-size: cover;
  height: 400px;
}
.imageContainer > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.image:hover {
  filter: blur(0.1px) brightness(90%);
}
.village {
  background-image: url("../../images/town.jpeg");
}
.mountain {
  background-image: url("../../images/view.jpeg");
}
.beach {
  background-image: url("../../images/beach.jpeg");
}
.tram {
  background-image: url("../../images/tram-2.jpeg");
}
.mallorca {
  background-image: url("../../images/apartment-building.jpeg");
  background-size: 300%;
  padding: 80px 60px;
}
.mallorcaText {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  color: black;
  text-decoration: none;
}
.mallorcaText:hover {
  color: black;
  background-color: white;
}
.iconSection {
  background: white;
  padding-top: 50px;
}
.iconContainer {
  margin: 50px 0;
}
