.card {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: none !important;
  padding: 20px;
  text-align: center;
}
.price {
  font-size: 24px;
}
.wrapper {
  position: fixed;
  left: 0;
  z-index: -1;
  height: 150%;
  bottom: 0;
}
@media screen and (min-width: 550px) {
  .card {
    max-width: 550px;
    margin: 200px auto !important;
    padding: 50px;
  }
}
@media screen and (min-width: 750px) {
  .wrapper {
    height: auto;
    width: 100%;
  }
}
.share {
  color: black;
  text-decoration: none;
}
.share:hover {
  text-decoration: underline;
}
