.adminpanel {
  padding: 40px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.adminsections {
  text-align: center;
  background-color: var(--colour-background);
  border-radius: 20px;
  min-width: 300px;
  margin: 20px 0;
}
.logout {
  text-align: center;
}
.addSection a {
  text-decoration: none;
  color: black;
}
.addSection a:hover {
  text-decoration: underline;
  color: black;
}
